body {
  margin: 0;
  font-family: "Halant", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
}

h1 {
  font-size: 4.6rem; /* (46px) */
  color: #dd7564;
}

h2 {
  font-size: 3.6rem; /*(36px)*/
}

h3 {
  font-size: 2.8rem /*(28px)*/;
}

h4 {
  font-size: 2.2rem; /*(22px)*/
}

h5 {
  font-size: 1.8rem; /*(18px)*/
}

h6 {
  font-size: 1.6rem; /*(16px)*/
}

.header {
  background-color: #f0ede6;
  padding: 30px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #1fa5a6;
  color: white;
  padding: 15px;
  border: none;
}

button:hover {
  background-color: #b2dedd;
}

footer {
  background-color: #000000;
}
